@model HotelRoomBooking.customer
@{
    ViewBag.Title = "ForgotPwd";
    Layout = "~/Views/shared/UserMaster.cshtml";
}

<h2><b>ForgotPwd</b></h2>
<head>
    <script src="~/Content/JS/bootstrap.js"></script>
    <style>
        .login {
            width: 382px;
            overflow: hidden;
            margin: auto;
            margin: 20 0 0 450px;
            padding: 80px;
            background: orange;
            border-radius: 15px;
        }

        h2 {
            text-align: center;
            color: red;
            padding: 20px;
            font-size: 20px;
        }

        label {
            color: #08ffd1;
            font-size: 17px;
        }
    </style>
    </head>
    <div class="login">
        <form method="post">
            <label>Enter Username</label>@Html.TextBoxFor(c => c.emailId)<br />
            @Html.ValidationMessageFor(c => c.emailId)<br />
            <label>Enter password</label>@Html.PasswordFor(c => c.cpassword)<br />
            @Html.ValidationMessageFor(c => c.cpassword)<br />
            <label>Confirm Password</label>@Html.Password("cpwd")<br />
            <input type="submit" value="update" />
        </form>
    </div>
    <div>
        @if (ViewBag.msg != null)
        {
            <div style="color:red">@ViewBag.msg</div>
        }
    </div>
