
@{
    ViewBag.Title = "PaymentMethods";
    Layout = "~/Views/shared/UserMaster.cshtml";
}

<h2><b>PaymentMethods</b></h2>
<head>
    <style>
        .login {
            width: 382px;
            overflow: hidden;
            margin: auto;
            margin: 20 0 0 450px;
            padding: 80px;
            background: burlywood;
            border-radius: 15px;
        }

        h2 {
            text-align: center;
            color: red;
            padding: 20px;
            font-size: 20px;
        }
    </style>
    <script>
        @model HotelRoomBooking.Payment
        @*    @model HotelRoomBooking.UPI*@
    @*    $('input').change(function () {
            var val = $(this).val();
            if (val == "cards") {
                $("#card").prop('disabled', true);
            }          
        });*@
      @*  $("#cards").change(function () {
            $("#test").
        });*@
    </script>
</head>
<body>
    <div class="login">
        <h2>Payment by Debit card</h2>
        @Html.ActionLink("By Card", "PaymentPage")<br /><br />
        <h2>Payment by Upi</h2>
        @Html.ActionLink("By Upi", "Upi")
    </div>
    <div>@Html.ActionLink("Back", "Index")</div>
    <div>
        <input type="checkbox" id="cards" value="cards"/><label>Card</label>
        <input type="checkbox" id="Upis" /><label>Upi</label>
        <input type="button" id="test" hidden />
        <div id="card" hidden>
          @*  <form method="post">*@
                @Html.Label("Enter Account HName:")@Html.TextBoxFor(r => r.Account_HName)
                <br /> @Html.ValidationMessageFor(a => a.Account_HName)
                <br />
                @Html.Label("Enter Card Number:")@Html.TextBoxFor(r => r.Card_Number)
                <br /> @Html.ValidationMessageFor(a => a.Card_Number)
                <br />
                @Html.Label("Enter Expiry Date:")@Html.TextBoxFor(r => r.Expiry_Date)
                <br />@Html.ValidationMessageFor(a => a.Expiry_Date)
                <br />
                @Html.Label("Enter Cvv:")@Html.TextBoxFor(r => r.cvv)
                <br /> @Html.ValidationMessageFor(a => a.cvv)
                <br />
                <input type="submit" value="submit" class="btn btn-primary" />
           @* </form>*@
        </div>
    </div>
   @* <div id="upi" hidden>
        <form method="post">
            @Html.Label("Enter UPi Id:")@Html.TextBoxFor(r => r.UPI_ID)<br />
            @Html.ValidationMessageFor(r => r.UPI_ID)
            <br />
            <input type="submit" value="submit" class="btn btn-primary" />
        </form>
    </div>*@
</body>
